<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajax</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <h1>My Github User Info</h1>
    <p id="userInfo">Info will be here</p>
    <button id="buttonChange">Push</button>

</body>
<script>
    $(document).ready(function()
    {
        $("button").click(function()
        {
            $.ajax({
                url: "https://api.github.com/users/nobralyra"
            }).then(function (data)
            {
                $('#userInfo').text(data.id + " " + data.login + " " + data.public_repos);
            });
        });
    });
</script>
</html>